#login {
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
    /* angulo, cor e a % que vai ocupar da página, cor e % da página restante*/
}

#app {
    background: linear-gradient(120deg, #ffffff 44.9%, #4c79d3 45%) no-repeat fixed;
}

header {
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #ffffff;
}

.color-primary {
    color: #4e0070;
}

.color-secondary {
    color: #4c79d3;
}

.icon-detail {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.text-login {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    /*engrossa a letra - tipo bold*/
}

.coins {
    position: absolute;
    bottom: 120px
}

.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.button-default {
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
}

.button-edit,
.button-cancel {
    border-radius: 10px;
}

.button-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 0 !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    border: 2px solid #4e0070;
    background-color: #4e0070;
    color: #ffffff;
}

.button-float:hover {
    background-color: #ffffff;
    border: 2px solid #4c79d3;
    color: #4c79d3;
}

.button-cancel:hover {
    background-color: red;
    color: #ffffff;
}

.button-login:hover,
.button-default:hover {
    background-color: #4c79d3;
    color: #ffffff;
}

.link-default {
    color: #4e0070;
    cursor: pointer;
    font-weight: 500;
}

.link-default:hover {
    color: #4c79d3;
}

.font-text {
    font-weight: 500;
}

.info {
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}

.list-transactions {
    cursor: pointer;
    /* Muda o cursor para uma mãozinha */
}

.list-transactions:hover {
    border-radius: 10px;
    border: 2.5px solid #4c79d3;
}

.button-edit:hover {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #FFD700;
}

#text-modal-edit-delete {
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: start;
}

#titulo-modal-edit-del {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    text-align: start;
    margin-left: 15px;
    color: red;

}